n8n_workflows/Send Sudic Files (Telegram).json
{
  "name": "Send Sudic Files (Telegram)",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/files/Sudic-Ialoveni/Sudic1/test1.png",
        "options": {
          "fileExtension": "png",
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -192,
        -224
      ],
      "id": "261ed0c1-4c95-428d-aabd-bb32739b946f",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.Telegram_ChatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -224
      ],
      "id": "c7d4d3d6-97fb-4abe-b4a4-82d61242a380",
      "name": "Send a photo message",
      "webhookId": "1022d437-567c-4f0a-af05-7b6d51bf9e73",
      "credentials": {
        "telegramApi": {
          "id": "dm5Vz2WJ6Logh48j",
          "name": "Telegram SudicIaloveni_bot"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/files/Sudic-Ialoveni/Sudic1/test2.png",
        "options": {
          "fileExtension": "png",
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -192,
        -32
      ],
      "id": "866de280-bd89-47c1-9834-5991a5651ed9",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "fileSelector": "/files/Sudic-Ialoveni/Sudic1/test3.png",
        "options": {
          "fileExtension": "png",
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -192,
        160
      ],
      "id": "c91b9e71-544a-4ecb-a2a0-0a2aba87b1c6",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.Telegram_ChatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        160
      ],
      "id": "0c5d9b6d-0ffa-4f9b-b88f-a98fb024a83c",
      "name": "Send a photo message2",
      "webhookId": "1022d437-567c-4f0a-af05-7b6d51bf9e73",
      "credentials": {
        "telegramApi": {
          "id": "dm5Vz2WJ6Logh48j",
          "name": "Telegram SudicIaloveni_bot"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/files/Sudic-Ialoveni/Sudic2/test1.png",
        "options": {
          "fileExtension": "png",
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -192,
        544
      ],
      "id": "1188f888-3caf-4075-8343-24b972001b50",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.Telegram_ChatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        544
      ],
      "id": "f8d2cb08-87bb-4e55-ae07-b73a6d4eeaac",
      "name": "Send a photo message3",
      "webhookId": "1022d437-567c-4f0a-af05-7b6d51bf9e73",
      "credentials": {
        "telegramApi": {
          "id": "dm5Vz2WJ6Logh48j",
          "name": "Telegram SudicIaloveni_bot"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/files/Sudic-Ialoveni/Sudic2/test2.png",
        "options": {
          "fileExtension": "png",
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -192,
        736
      ],
      "id": "92776cb6-b301-4ac5-b1c1-5c7627982485",
      "name": "Read/Write Files from Disk4"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.Telegram_ChatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        736
      ],
      "id": "901c71c7-ecd2-4d72-b8ca-b3e68b885a94",
      "name": "Send a photo message4",
      "webhookId": "1022d437-567c-4f0a-af05-7b6d51bf9e73",
      "credentials": {
        "telegramApi": {
          "id": "dm5Vz2WJ6Logh48j",
          "name": "Telegram SudicIaloveni_bot"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/files/Sudic-Ialoveni/Sudic2/test3.png",
        "options": {
          "fileExtension": "png",
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -192,
        928
      ],
      "id": "343f50ef-67d9-4aa2-828c-da3e8026b14c",
      "name": "Read/Write Files from Disk5"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.Telegram_ChatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        928
      ],
      "id": "8b59ccff-d644-4ebc-a17c-0692dfca6d3f",
      "name": "Send a photo message5",
      "webhookId": "1022d437-567c-4f0a-af05-7b6d51bf9e73",
      "credentials": {
        "telegramApi": {
          "id": "dm5Vz2WJ6Logh48j",
          "name": "Telegram SudicIaloveni_bot"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Telegram_ChatID",
              "type": "number"
            },
            {
              "name": "Complex",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1088,
        448
      ],
      "id": "e3811c06-de64-4164-afee-037ececedd8f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Complex }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bac8802f-93c6-4b3c-8602-375d9182ae11"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f382241-964d-458d-a385-51cc13092153",
                    "leftValue": "={{ $json.Complex }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -640,
        448
      ],
      "id": "4bbf783c-7e7b-43bc-885d-52c510839b68",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.Telegram_ChatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -32
      ],
      "id": "379a1910-3dab-4e64-b97b-532b1c1e56e3",
      "name": "Send a photo message1",
      "webhookId": "1022d437-567c-4f0a-af05-7b6d51bf9e73",
      "credentials": {
        "telegramApi": {
          "id": "dm5Vz2WJ6Logh48j",
          "name": "Telegram SudicIaloveni_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f151ff4-10d5-4ba5-aeb3-14e641807bef",
              "name": "Telegram_ChatID",
              "value": "={{ $node[\"When Executed by Another Workflow\"].json[\"Telegram_ChatID\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        64
      ],
      "id": "7820240c-aa80-4f7a-a212-2734272ada80",
      "name": "Set Chat ID",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "282565d8-bbd2-4920-a015-7de8302ae336",
              "name": "Telegram_ChatID",
              "value": "={{ $json.Telegram_ChatID }}",
              "type": "string"
            },
            {
              "id": "9909bc7b-f8a7-45ee-a262-096197595788",
              "name": "Complex",
              "value": "={{ $json.Complex }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        448
      ],
      "id": "3d25093b-8efc-4eb1-a13c-968294fc065b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1913c79c-d090-48c2-9fcd-e4cf2250bd9c",
              "name": "=Telegram_ChatID",
              "value": "={{ $node[\"Set Chat ID\"].json[\"Telegram_ChatID\"] }}",
              "type": "string"
            },
            {
              "id": "cc28dba7-1ed6-4d3b-8bdc-209c9f386540",
              "name": "data",
              "value": "data",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -224
      ],
      "id": "f7a92e62-5578-4843-b08d-17af1084b5b0",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc28dba7-1ed6-4d3b-8bdc-209c9f386540",
              "name": "data",
              "value": "data",
              "type": "binary"
            },
            {
              "id": "1913c79c-d090-48c2-9fcd-e4cf2250bd9c",
              "name": "=Telegram_ChatID",
              "value": "={{ $node[\"Set Chat ID\"].json[\"Telegram_ChatID\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -32
      ],
      "id": "87aef74e-8968-4c51-bcee-1a443aff95e3",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc28dba7-1ed6-4d3b-8bdc-209c9f386540",
              "name": "data",
              "value": "data",
              "type": "binary"
            },
            {
              "id": "1913c79c-d090-48c2-9fcd-e4cf2250bd9c",
              "name": "=Telegram_ChatID",
              "value": "={{ $node[\"Set Chat ID\"].json[\"Telegram_ChatID\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        160
      ],
      "id": "b8dc964c-1215-4026-b90c-17ac09f2afb7",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc28dba7-1ed6-4d3b-8bdc-209c9f386540",
              "name": "data",
              "value": "data",
              "type": "binary"
            },
            {
              "id": "1913c79c-d090-48c2-9fcd-e4cf2250bd9c",
              "name": "=Telegram_ChatID",
              "value": "={{ $node[\"Set Chat ID1\"].json[\"Telegram_ChatID\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        544
      ],
      "id": "9d0bc97e-1c13-4f98-8df4-c9262912654c",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc28dba7-1ed6-4d3b-8bdc-209c9f386540",
              "name": "data",
              "value": "data",
              "type": "binary"
            },
            {
              "id": "1913c79c-d090-48c2-9fcd-e4cf2250bd9c",
              "name": "=Telegram_ChatID",
              "value": "={{ $node[\"Set Chat ID1\"].json[\"Telegram_ChatID\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        736
      ],
      "id": "9d6c2b39-0dbb-4614-a9db-276cc5b2ad45",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc28dba7-1ed6-4d3b-8bdc-209c9f386540",
              "name": "data",
              "value": "data",
              "type": "binary"
            },
            {
              "id": "1913c79c-d090-48c2-9fcd-e4cf2250bd9c",
              "name": "=Telegram_ChatID",
              "value": "={{ $node[\"Set Chat ID1\"].json[\"Telegram_ChatID\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        928
      ],
      "id": "2ba2d10a-48f8-433a-bee8-ed27be914e95",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f151ff4-10d5-4ba5-aeb3-14e641807bef",
              "name": "Telegram_ChatID",
              "value": "={{ $node[\"When Executed by Another Workflow\"].json[\"Telegram_ChatID\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        832
      ],
      "id": "90c3e4e6-858d-4573-b3e3-efc0e81bb352",
      "name": "Set Chat ID1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1913c79c-d090-48c2-9fcd-e4cf2250bd9c",
              "name": "=Telegram_ChatID",
              "value": "={{ $node[\"Set Chat ID1\"].json[\"Telegram_ChatID\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        1120
      ],
      "id": "756b6c1a-1ed1-4209-87b4-09d64fb1e38c",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "chatId": "={{ $json.Telegram_ChatID }}",
        "text": "=Test Link: https://buildyourrackapp.com/",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a5ddd87f-f2c8-4c77-9364-abfa71ce8d9f",
      "name": "Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        1120
      ],
      "webhookId": "d3eb3f06-0eed-497f-affd-eb73f04ab130",
      "credentials": {
        "telegramApi": {
          "id": "dm5Vz2WJ6Logh48j",
          "name": "Telegram SudicIaloveni_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1913c79c-d090-48c2-9fcd-e4cf2250bd9c",
              "name": "=Telegram_ChatID",
              "value": "={{ $node[\"Set Chat ID\"].json[\"Telegram_ChatID\"] }}",
              "type": "string"
            },
            {
              "id": "1a5c977c-c0f8-4bc5-a4ce-c8b263fd339f",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        352
      ],
      "id": "885c5bda-03ed-499d-944b-610a08365e35",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "chatId": "={{ $json.Telegram_ChatID }}",
        "text": "=Test Link: https://sudic.md/",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ae341e0b-e5bc-4270-9a85-08694c3d19eb",
      "name": "Response1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        352
      ],
      "webhookId": "d3eb3f06-0eed-497f-affd-eb73f04ab130",
      "credentials": {
        "telegramApi": {
          "id": "dm5Vz2WJ6Logh48j",
          "name": "Telegram SudicIaloveni_bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk4": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk5": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set Chat ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Chat ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Chat ID": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Send a photo message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Send a photo message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Send a photo message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Send a photo message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Send a photo message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Chat ID1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "48d8755c-fc04-41bb-a630-6ddf174d39ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "207796555c538008e612d32a818bf5cfe856872d10b75a11dc15781656a3929c"
  },
  "id": "QVdrMKl9fqVCOlG1",
  "tags": [
    {
      "createdAt": "2025-10-07T20:52:15.541Z",
      "updatedAt": "2025-10-07T20:52:15.541Z",
      "id": "BKuq9KxnXEbK7hzb",
      "name": "Tested - Working"
    },
    {
      "createdAt": "2025-11-02T11:44:01.975Z",
      "updatedAt": "2025-11-02T11:44:01.975Z",
      "id": "CFIRsCZ4wcdRFXva",
      "name": "Sudic"
    },
    {
      "createdAt": "2025-10-07T21:56:14.583Z",
      "updatedAt": "2025-10-07T21:56:14.583Z",
      "id": "wIhePW2VeZs9gdVU",
      "name": "IN PROD"
    }
  ]
}